body {
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 1rem;
}

#inputKota:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#daftarKota li {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
